b{
    background-color: rgb(210, 241, 82);
    color: rgb(180, 34, 248);
    font-size:xx-large;
}

h3{
    background-color: greenyellow;
    color: brown;
}   
p{
    background-color: rgb(120,20,98);
    color: aquamarine;
    font-size: x-large;
}